<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
    <script src="https://unpkg.com/htmx.org@1.5.0"></script>
  </head>
  <body>
    <header><%- include('../partials/header'); %></header>

    <main>
      <h1><%= post.slug %></h1>

      <form hx-post="/comment" hx-swap="afterbegin" hx-target="#response-div">
        <input type="text" name="comment" />
        <button type="submit">submit</button>

        <h3>Comments</h3>
        <ul id="response-div">
          <% comments.forEach((comment) => { %> <%-
          include('../partials/comment/item', {comment}); %> <% }); %>
        </ul>
      </form>

      <button
        hx-get="/comment"
        hx-trigger="click"
        hx-swap="beforeend"
        hx-target="#response-div"
      >
        load more
      </button>
    </main>
  </body>
</html>
