<a href="/">Home</a>
<nav>
  <ul>
    <li>
      <a href="/post/one">Post 1</a>
    </li>
    <li>
      <a href="/post/two">Post 2</a>
    </li>
    <li>
      <a href="/post/three">Post 3</a>
    </li>
  </ul>
</nav>